// Style files in the pods folder are automatically loaded in.
@import 'pod-styles';
@import url('https://fonts.googleapis.com/css2?family=Quantico:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700&display=swap');

@import './variable';
@import './layout/header';
@import './layout/show-data';
@import './components/data-overview';
@import './components/product-data';

body {
    font-family: 'Source Sans Pro', sans-serif;
    width: 75%;
    margin: 0 auto;
    line-height: 1.2;
}
@media(max-width: 1919px){
    body {
        width: 100%;
    }
}

.main-data {
    display: flex;
    .data, .data-overview {
        display: inline-block;
    }
    .data {
        background-color: $backgroun-color;
        padding: 10px 20px;
        width: 70%;
        border-right: 1px solid $light_grey;
        .title {
            font-family: 'Quantico', sans-serif;
            font-weight: 400;
            color:$grey;
            text-transform: uppercase;
        }
    }
    .product {
        border: 1px solid #d2d7dc;
        background-color: $white;
        margin: 25px 0;
        box-shadow: 1px 1px 5px 0px rgb(0 0 0 / 0.1);
        -webkit-box-shadow: 1px 1px 5px 0px rgb(0 0 0 / 0.1);
        -moz-box-shadow: 1px 1px 5px 0px rgb(0 0 0 / 0.1);
        .product-header {
            font-family: 'Quantico', sans-serif;
            color:$dark_blue;
            font-size: 18px;
            font-weight: 700;
            padding: 18px 15px;
            border-bottom: 1px solid #d2d7dc;
            .product-link {
                float: right;
                font-size: 16px;
                text-transform: uppercase;
                a {
                    text-decoration:none;
                    color: #34ace6;
                    font-weight: 700;
                    vertical-align: middle;
                }
            }
        }
        .product-table {
            overflow-x: scroll;
            font-size: 12px;
            table {
                border-collapse: collapse;
                tr {
                    border-bottom: 1px solid #d2d7dc;
                }
                th, td {
                    padding: 5px 15px;
                }
                th {
                    background-color: $backgroun-color;
                    height: 25px;
                }
            }
        }
        .produc-footer {
            background-color: $backgroun-color;
            font-size: 12px;
            font-weight: 700;
            text-transform: uppercase;
            color:$dark_blue;
            p {
                padding: 10px;
                margin: 0;
            }
        }
        
    }
}
