<div class="main-data">
  <div class="data">
    <h4 class="title">datasets in this data product</h4>
    {{#each products as |product|}}
    {{ product-data 
      name = product.name
      id = product.id
      product = product.productDataSubset 
    }}
    {{/each}}
  </div>
  {{ data-overview publisher = publisher}}
</div>

