<div class="main-data">
  <div class="data">
    <h4 class="title">DATASETS IN THIS DATA PRODUCT</h4>
    {{#each products as |product|}}
    {{ product-set product = product }}
    {{/each}}
  </div>
  <div class="data-overview">
    {{ data-details }}
  </div>
</div>

