{{!-- <div class="data-overview">
    <div class="container">
        <div class="tag">COMMERCIAL DATA</div>
        <div class="info">
            <h4 class="title">DATA OVERVIEW</h4>
            <span class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus consectetur vero enim impedit itaque magni, minima quod nam harum. In deserunt sunt necessitatibus voluptatum?</span>
        </div>
        <table class="details-table">

        </table>
    </div>
</div> --}}
<div class="detail-row">
    <span class="details-table-title">
        {{title}}
        <i class="fa fa-info-circle"></i>
    </span>
    <span class="details-table-value">{{value}}</span>
</div>
{{!-- <tr>
    <td class="details-table-title">{{title}}
        <i class="fa fa-info-circle"></i>
    </td>
    <td class="details-table-value">{{value}}</td>
</tr> --}}