<div class="data-table">
    <table>
  {{#each productData as |data|}}
    <tr>
      <td>{{data.ticker}}</td>
      <td>{{data.comp_name}}</td>
      <td>{{data.per_end_date}}</td>
    </tr>
  {{/each}}
</table>
</div>